body {
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Raleway', sans-serif;
    color: #343837;
    background-color: #ffffff;
    margin: 0;
}
.boton {
    font-family: 'Major Mono Display', monospace;
    color: #ffffff;
}

.circulo {
    border-radius: 100%;
}

header {
    background-image: url("../img/Portada5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 10rem;
  }

  
.navbar li a {
    color: #ffffff;
}


hr {
    width: 25%;
    color: #000000;
    height: 1em;
    padding-bottom: 2em;
}

h1, h2 {
    font-family: 'Fredericka the Great', cursive;
}

.carousel-indicators {
    bottom: -70px;
}

.carousel-indicators li {
    border-radius: 100%; 
    width: 0.8em;
    height: 0.8em;
    background-color: #000000;
}

.logo {
    font-family: 'Major Mono Display', monospace;
    color: #ffffff;
    font-size: 2em !important;
}

/*Colores pantallas pequeñas*/
.verde {
    color: #14a76c;
    background-color:#000000;
}
