body {
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Raleway', sans-serif;
    color: #343837;
    background-color: #ffffff;
    margin: 0;
}

header {
    background-image: url(../img/Portada2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 10rem;
}

h1, h2 {
    font-family: 'Fredericka the Great', cursive;
}

.celeste {
    background-color: #000000!important;
}
  
.amarillo {
    color: #ffffff;
}

.carousel-indicators {
    bottom: -70px;
}

.carousel-indicators li {
    border-radius: 100%; 
    width: 0.8em;
    height: 0.8em;
    background-color: #000000;
}

.logo, .fuente-footer {
    font-family: 'Major Mono Display', monospace;
    text: #000000;
    font-size: 4em !important;
}